
App/Triple/.idea/compiler.xml
App/Triple/app/src/androidTest/java/com/triple/triple/ExampleInstrumentedTest.java
App/Triple/app/proguard-rules.pro
App/Triple/.idea/compiler.xml
App/Triple/.idea/copyright/profiles_settings.xml
App/Triple/.idea/gradle.xml
App/Triple/.idea/misc.xml
App/Triple/.idea/modules.xml
App/Triple/.idea/runConfigurations.xml
App/Triple/app/build.gradle
App/Triple/app/proguard-rules.pro
App/Triple/app/src/androidTest/java/com/triple/triple/ExampleInstrumentedTest.java
App/Triple/build.gradle
App/Triple/gradle.properties
App/Triple/gradle/wrapper/gradle-wrapper.jar
App/Triple/gradle/wrapper/gradle-wrapper.properties
App/Triple/gradlew
App/Triple/gradlew.bat
*.gradle
