<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.triple.triple">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".Presenter.Home.HomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presenter.Mytrips.MytripsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Presenter.Search.SearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Presenter.Profile.ProfileActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Presenter.Mytrips.TripCreateActivity"
            android:parentActivityName=".Presenter.Mytrips.MytripsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Presenter.Mytrips.TripDetailActivity"
            android:parentActivityName=".Presenter.Mytrips.MytripsActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>