<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.triple.triple">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Presenter.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presenter.Mytrips.MytripsActivity"
            android:parentActivityName=".Presenter.MainActivity" />
        <activity
            android:name=".Presenter.Search.SearchActivity"
            android:parentActivityName=".Presenter.MainActivity" />
        <activity
            android:name=".Presenter.Profile.ProfileActivity"
            android:parentActivityName=".Presenter.MainActivity" />
        <activity
            android:name=".Presenter.Mytrips.TripCreateActivity"
            android:parentActivityName=".Presenter.Mytrips.MytripsActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Presenter.Mytrips.TripDetailActivity"
            android:parentActivityName=".Presenter.Mytrips.MytripsActivity" />
        <activity
            android:name=".Presenter.Account.LoginActivity"
            android:parentActivityName=".Presenter.Profile.ProfileActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".Presenter.Account.RegisterActivity"
            android:parentActivityName=".Presenter.Account.LoginActivity" />
        <activity
            android:name=".Presenter.Profile.TravelStyleActivity"
            android:parentActivityName=".Presenter.Account.LoginActivity" />
        <activity
            android:name=".Presenter.Account.ForgetPasswordActivity"
            android:parentActivityName=".Presenter.Account.LoginActivity" ></activity>
    </application>

</manifest>